--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cpu
--only-binary llama-cpp-python
--prefer-binary

fastapi==0.115.6
uvicorn[standard]==0.34.0
python-docx==1.1.2
lxml==5.3.0
pydantic==2.10.4
pydantic-settings==2.7.1
llama-cpp-python==0.3.5
python-multipart==0.0.20
openpyxl==3.1.5
python-pptx==1.0.2
PyMuPDF==1.25.1
pypdf==5.1.0
